---
BasedOnStyle: Google

IndentCaseLabels: true
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100

AccessModifierOffset: -4

AlwaysBreakAfterReturnType: TopLevel

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
    AfterStruct: true
    AfterClass: true
    AfterEnum: true

FixNamespaceComments: true

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<example/'
    Priority:        1
  - Regex:           '<[[:alnum:]]+>'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
...
